/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-around;
  background-color: #673ab7; /* Morado */
  padding: 15px;
}

nav button {
  background-color: #9575cd;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

nav button:hover {
  background-color: #7e57c2;
}

/* Section styles */
.section {
  display: none;
  padding: 20px;
  margin: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

#inicio {
  display: block; /* Mostrar sección de inicio al cargar */
}

h1, h2 {
  color: #673ab7;
}

/* Formulario de perfil */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

form label {
  margin-top: 10px;
  font-weight: bold;
}

form input, form select {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: #673ab7;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;
}

form button:hover {
  background-color: #5e35b1;
}

#profileData {
  margin-top: 20px;
}

#profileData p {
  font-size: 18px;
}

/* Historial de humedad */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #f1f1f1;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
}

/* Chart */
canvas {
  max-width: 100%;
  height: auto;
  margin: 20px auto;
}

/* Media Queries */
@media (max-width: 768px) {
  nav {
      flex-direction: column;
  }

  nav button {
      margin-bottom: 10px;
  }

  .section {
      margin: 10px;
  }
}
